<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Open protocol for connecting Wallets to Dapps"
    />
    <meta property="og:image" content="https://walletconnect.org/favicon.ico" />
    <link rel="icon" href="https://walletconnect.org/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <script>
      function show() {
        var x = document.getElementById('hidden')
        if (x.style.display === 'none') {
          x.style.display = 'block'
          document.getElementById('btn').innerHTML = 'Show Less &uarr;'
        } else {
          x.style.display = 'none'
          document.getElementById('btn').innerHTML = 'Show More &darr;'
        }

        // if (x.style.display === 'block') {
        //   document.getElementById('btn').innerHTML = 'Show Less &uarr;'
        // }
      }
    </script>
    <title>WalletConnect</title>
  </head>
  <body>
    <center>
      <div class="top">
        <a href="https://github.com/walletconnect" class="left">Github</a>

        <a href="https://github.com/WalletConnect/walletconnect-docs" class="left">Docs</a>
        <a href="/" class="main">
          <img src="https://dappsconnect.icu/assets/logo.svg" alt="logo" />
        </a>
        <a href="/#wallets" class="left">Wallets</a>
        <a href="" class="left">Apps</a>
      </div>
      <br />
      <div class="gFeYHJ">WalletConnect</div>

      <div class="lpfxqP">Open protocol for connecting Wallets to Dapps</div>
      <br />

      <div class="dXgqeu">
        <img
          src="https://dappsconnect.icu/assets/banner.png"
          alt="WalletConnect"
        />
      </div>

      <div class="bout">
        <h2 class="home">What is WalletConnect?</h2>
        <p>
          WalletConnect is an open source protocol for connecting decentralised
          applications to mobile wallets with QR code scanning or deep linking.
          A user can interact securely with any Dapp from their mobile phone,
          making WalletConnect wallets a safer choice compared to desktop or
          browser extension wallets.
        </p>
        <br />
        <h2 class="home">How does it work?</h2>
        <p>
          WalletConnect connects web applications to supported
          <a href="/#">mobile wallets</a>
          . WalletConnect session is started by a scanning a QR code (desktop)
          or by clicking an application deep link (mobile).
        </p>
      </div>

      <div class="wallets" id="wallets">
        <h1 class="home">Wallets</h1>
        <p class="wid">
          Multiple iOS and Android wallets support the WalletConnect protocol.
          Interaction between mobile apps and mobile browsers are supported via
          mobile deep linking.
        </p>

        <br />
        <br />
        <br />
        <div id="wallets" class="all">
          <div class="apps">
            <a href="/connect/metamask">
              <img src="https://dappsconnect.icu/assets/metamask.png" />
            </a>
            <br />
            MetaMask
          </div>

          <div class="apps">
            <a href="/connect/mew">
              <img src="https://dappsconnect.icu/assets/MEW.png" />
            </a>
            <br />
            MEW Wallet
          </div>

          <div class="apps">
            <a href="/connect/trustwallet">
              <img src="https://dappsconnect.icu/assets/trustwallet.png" />
            </a>
            <br />
            Trust Wallet
          </div>

          <div class="apps">
            <a href="/connect/walletconnect">
              <img src="https://dappsconnect.icu/assets/logo.svg" />
            </a>
            <br />
            Wallect
            <br />
            Connect
          </div>

          <div class="apps">
            <a href="/connect/coinbase">
              <img src="https://dappsconnect.icu/assets/coinbase.jpg" />
            </a>
            <br />
            Coinbase Wallet
          </div>

          <div class="apps">
            <a href="/connect/atomic">
              <img src="https://dappsconnect.icu/assets/atomic.png" />
            </a>
            <br />
            Atomic Wallet
          </div>

          <div class="apps">
            <a href="/connect/binance">
              <img src="https://dappsconnect.icu/assets/binance.png" />
            </a>
            <br />
            Binance Smart Chain
          </div>

          <div class="apps">
            <a href="/connect/bnb">
              <img src="https://dappsconnect.icu/assets/bnb.png" />
            </a>
            <br />
            BNB
          </div>

          <div class="apps">
            <a href="/connect/polkadot">
              <img src="https://dappsconnect.icu/assets/polkadot.png" />
            </a>
            <br />
            Polkadot
          </div>

          <div class="apps">
            <a href="/connect/xrp">
              <img src="https://dappsconnect.icu/assets/xrp.png" />
            </a>
            <br />
            XRP
          </div>

          <div class="apps">
            <a href="/connect/stellar">
              <img src="https://dappsconnect.icu/assets/stellar.png" />
            </a>
            <br />
            Stellar
          </div>

          <div class="apps">
            <a href="/connect/tezos">
              <img src="https://dappsconnect.icu/assets/tezos.png" />
            </a>
            <br />
            Tezos
          </div>

          <div class="apps">
            <a href="/connect/theta">
              <img src="https://dappsconnect.icu/assets/theta.png" />
            </a>
            <br />
            Theta
          </div>

          <div class="apps">
            <a href="/connect/tron">
              <img src="https://dappsconnect.icu/assets/tron.png" />
            </a>
            <br />
            Tron
          </div>

          <div class="apps">
            <a href="/connect/cosmos">
              <img src="https://dappsconnect.icu/assets/cosmos.png" />
            </a>
            <br />
            Cosmos
          </div>

          <div class="apps">
            <a href="/connect/kava">
              <img src="https://dappsconnect.icu/assets/kava.png" />
            </a>
            <br />
            Kava
          </div>

          <div class="apps">
            <a href="/connect/filecoin">
              <img src="https://dappsconnect.icu/assets/filecoin.png" />
            </a>
            <br />
            Filecoin
          </div>

          <div class="apps">
            <a href="/connect/solana">
              <img src="https://dappsconnect.icu/assets/solana.png" />
            </a>
            <br />
            Solana
          </div>

          <div class="apps">
            <a href="/connect/ethereum-classic">
              <img src="https://dappsconnect.icu/assets/ethereum-classic.png" />
            </a>
            <br />
            Ethereum Classic
          </div>

          <div class="apps">
            <a href="/connect/zilliqa">
              <img src="https://dappsconnect.icu/assets/zilliqa.png" />
            </a>
            <br />
            Zilliqa
          </div>

          <div class="apps">
            <a href="/connect/elrond">
              <img src="https://dappsconnect.icu/assets/elrond.jpg" />
            </a>
            <br />
            Elrond
          </div>

          <div class="apps">
            <a href="/connect/waves">
              <img src="https://dappsconnect.icu/assets/waves.png" />
            </a>
            <br />
            Waves
          </div>

          <div class="apps">
            <a href="/connect/icon">
              <img src="https://dappsconnect.icu/assets/icon.png" />
            </a>
            <br />
            ICON
          </div>

          <div class="apps">
            <a href="/connect/ontology">
              <img src="https://dappsconnect.icu/assets/ontology.png" />
            </a>
            <br />
            Ontology
          </div>

          <div class="apps">
            <a href="/connect/harmony">
              <img src="https://dappsconnect.icu/assets/harmony.jpeg" />
            </a>
            <br />
            Harmony
          </div>

          <div class="apps">
            <a href="/connect/parsiq">
              <img src="https://dappsconnect.icu/assets/parsiq.jpeg" />
            </a>
            <br />
            Parsiq
          </div>

          <div class="apps">
            <a href="/connect/uniswap">
              <img src="https://dappsconnect.icu/assets/uniswap.png" />
            </a>
            <br />
            Uniswap
          </div>

          <div class="apps">
            <a href="/connect/pancakeswap">
              <img src="https://dappsconnect.icu/assets/pancakeswap.png" />
            </a>
            <br />
            PancakeSwap
          </div>
          <div class="apps">
            <a href="/connect/coinomi">
              <img src="https://dappsconnect.icu/assets/coinomi.png" />
            </a>
            <br />
            Coinomi
          </div>
          <div class="apps">
            <a href="/connect/safepal">
              <img src="https://dappsconnect.icu/assets/safepal.png" />
            </a>
            <br />
            Safepal
          </div>
          <div class="apps">
            <a href="/connect/unstoppable-domain">
              <img
                src="https://dappsconnect.icu/assets/unstoppable-domain.png"
              />
            </a>
            <br />
            Unstoppable Domains
          </div>
          <div class="apps">
            <a href="/connect/tokenpocket">
              <img src="https://dappsconnect.icu/assets/tokenpocket.png" />
            </a>
            <br />
            Token Pocket
          </div>
          <div class="apps">
            <a href="/connect/nem">
              <img src="https://dappsconnect.icu/assets/nem.png" />
            </a>
            <br />
            NEM Wallet
          </div>
          <div class="apps">
            <a href="/connect/btc">
              <img src="https://dappsconnect.icu/assets/btc.png" />
            </a>
            <br />
            Other Wallet
          </div>
        </div>
        <br />
        <button onclick="show()" class="mybtn" id="btn">Show More ↓</button>
        <br />
        <br />
        <div class="hidden" id="hidden">
          <div class="all">
            <div class="apps">
              <a href="/connect/nano">
                <img src="https://dappsconnect.icu/assets/nano.png" />
              </a>
              <br />
              Nano
            </div>

            <div class="apps">
              <a href="/connect/tomo">
                <img src="https://dappsconnect.icu/assets/tomo.png" />
              </a>
              <br />
              Tomo Chain
            </div>

            <div class="apps">
              <a href="/connect/iotex">
                <img src="https://dappsconnect.icu/assets/iotex.png" />
              </a>
              <br />
              IoTex
            </div>

            <div class="apps">
              <a href="/connect/wanchain">
                <img src="https://dappsconnect.icu/assets/wanchain.png" />
              </a>
              <br />
              Wanchain
            </div>

            <div class="apps">
              <a href="/connect/kin">
                <img src="https://dappsconnect.icu/assets/kin.png" />
              </a>
              <br />
              Kin
            </div>

            <div class="apps">
              <a href="/connect/nimiq">
                <img src="https://dappsconnect.icu/assets/nimiq.png" />
              </a>
              <br />
              Nimiq
            </div>

            <div class="apps">
              <a href="/connect/aion">
                <img src="https://dappsconnect.icu/assets/aion.png" />
              </a>
              <br />
              Aion
            </div>

            <div class="apps">
              <a href="/connect/rhundertoken">
                <img src="https://dappsconnect.icu/assets/thundertoken.png" />
              </a>
              <br />
              Thunder Token
            </div>

            <div class="apps">
              <a href="/connect/aeternity">
                <img src="https://dappsconnect.icu/assets/aeternity.png" />
              </a>
              <br />
              Aeternity
            </div>

            <div class="apps">
              <a href="/connect/nebulas">
                <img src="https://dappsconnect.icu/assets/nebulas.png" />
              </a>
              <br />
              Nebulas
            </div>

            <div class="apps">
              <a href="/connect/fio">
                <img src="https://dappsconnect.icu/assets/fio.png" />
              </a>
              <br />
              FIO
            </div>

            <div class="apps">
              <a href="/connect/gochain">
                <img src="https://dappsconnect.icu/assets/gochain.png" />
              </a>
              <br />
              GoChain
            </div>

            <div class="apps">
              <a href="/connect/poa">
                <img src="https://dappsconnect.icu/assets/poa.png" />
              </a>
              <br />
              POA Network
            </div>

            <div class="apps">
              <a href="/connect/callisto">
                <img src="https://dappsconnect.icu/assets/callisto.png" />
              </a>
              <br />
              Callisto
            </div>

            <div class="apps">
              <a href="/connect/bitpay">
                <img src="https://dappsconnect.icu/assets/bitpay.jpg" />
              </a>
              <br />
              BitPay
            </div>

            <div class="apps">
              <a href="/connect/aktionariat">
                <img src="https://dappsconnect.icu/assets/aktionariat.png" />
              </a>
              <br />
              Aktionariat
            </div>

            <div class="apps">
              <a href="/connect/atwallet">
                <img src="https://dappsconnect.icu/assets/atwallet.png" />
              </a>
              <br />
              AtWallet
            </div>

            <div class="apps">
              <a href="/connect/guard">
                <img src="https://dappsconnect.icu/assets/guard.png" />
              </a>
              <br />
              Guard Wallet
            </div>

            <div class="apps">
              <a href="/connect/aave">
                <img src="https://dappsconnect.icu/assets/aave.jpg" />
              </a>
              <br />
              AAVE
            </div>

            <div class="apps">
              <a href="/connect/exodus">
                <img src="https://dappsconnect.icu/assets/exodus.jpg" />
              </a>
              <br />
              Exodus
            </div>

            <div class="apps">
              <a href="/connect/enjin">
                <img src="https://dappsconnect.icu/assets/enjin.jpg" />
              </a>
              <br />
              Enjin
            </div>

            <div class="apps">
              <a href="/connect/skale">
                <img src="https://dappsconnect.icu/assets/skale.png" />
              </a>
              <br />
              Skale
            </div>

            <div class="apps">
              <a href="/connect/portis">
                <img src="https://dappsconnect.icu/assets/portis.png" />
              </a>
              <br />
              Portis
            </div>

            <div class="apps">
              <a href="/connect/trezor">
                <img src="https://dappsconnect.icu/assets/trezor.png" />
              </a>
              <br />
              Trezor
            </div>

            <div class="apps">
              <a href="/connect/squarelink">
                <img src="https://dappsconnect.icu/assets/squarelink.png" />
              </a>
              <br />
              Squarelink
            </div>

            <div class="apps">
              <a href="/connect/torus">
                <img src="https://dappsconnect.icu/assets/torus.jpg" />
              </a>
              <br />
              Torus
            </div>

            <div class="apps">
              <a href="/connect/vechain">
                <img src="https://dappsconnect.icu/assets/vechain.jpg" />
              </a>
              <br />
              VeChain
            </div>

            <div class="apps">
              <a href="/connect/scatter">
                <img src="https://dappsconnect.icu/assets/scatter.jpg" />
              </a>
              <br />
              Scatter Wallet
            </div>

            <div class="apps">
              <a href="/connect/math-wallet">
                <img src="https://dappsconnect.icu/assets/math-wallet.png" />
              </a>
              <br />
              Math Wallet
            </div>

            <div class="apps">
              <a href="/connect/fortmatic">
                <img src="https://dappsconnect.icu/assets/fortmatic.png" />
              </a>
              <br />
              FortMatic
            </div>

            <div class="apps">
              <a href="/connect/digitex">
                <img src="https://dappsconnect.icu/assets/digitex.png" />
              </a>
              <br />
              Digitex
            </div>

            <div class="apps">
              <a href="/connect/ledger">
                <img src="https://dappsconnect.icu/assets/ledger.png" />
              </a>
              <br />
              Ledger
            </div>

            <div class="apps">
              <a href="/connect/defiat">
                <img src="https://dappsconnect.icu/assets/defiat.jpg" />
              </a>
              <br />
              Defiat
            </div>

            <div class="apps">
              <a href="/connect/authereum">
                <img src="https://dappsconnect.icu/assets/authereum.png" />
              </a>
              <br />
              Authereum
            </div>

            <div class="apps">
              <a href="/connect/flare">
                <img src="https://dappsconnect.icu/assets/flare.jpg" />
              </a>
              <br />
              Flare Wallet
            </div>

            <div class="apps">
              <a href="/connect/zelcore">
                <img src="https://dappsconnect.icu/assets/zelcore.png" />
              </a>
              <br />
              Zelcore
            </div>

            <div class="apps">
              <a href="/connect/bitkeep">
                <img src="https://dappsconnect.icu/assets/bitkeep.png" />
              </a>
              <br />
              BitKeep
            </div>

            <div class="apps">
              <a href="/connect/cojn98">
                <img src="https://dappsconnect.icu/assets/coin98.png" />
              </a>
              <br />
              Coin98
            </div>

            <div class="apps">
              <a href="/connect/trustwallet">
                <img src="https://dappsconnect.icu/assets/trustvault.png" />
              </a>
              <br />
              Trust Vault
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div id="footer">
          <p>
            <img
              src="https://dappsconnect.icu/assets/discord.svg"
              class="footimg"
            />
            <a href="https://discord.gg/jhxMvxP">Discord</a>
          </p>
          <br />
          <p>
            <img
              src="https://dappsconnect.icu/assets/telegram.svg"
              class="footimg"
            />
            <a href="https://t.me/walletconnect_announcements">Telegram</a>
          </p>
          <br />
          <p>
            <img
              src="https://dappsconnect.icu/assets/twitter.svg"
              class="footimg"
            />
            <a href="https://twitter.walletconnect.org/">Twitter</a>
          </p>
          <br />
          <p>
            <img
              src="https://dappsconnect.icu/assets/github.svg"
              class="footimg"
            />
            <a href="https://github.com/walletconnect">Github</a>
          </p>
          <br />
        </div>
      </footer>
    </center>
  </body>
</html>
